# Misc
node_modules/
*.log
.DS_Store
.idea/
.vscode/
.fleet/

# Nuxt (frontend)
frontend/nuxt-counter/.nuxt/
frontend/nuxt-counter/.output/
frontend/nuxt-counter/.nitro/
frontend/nuxt-counter/.cache/
frontend/nuxt-counter/dist/
frontend/nuxt-counter/.env
frontend/nuxt-counter/.env.*
!frontend/nuxt-counter/.env.example

# Hardhat (contracts)
contracts/node_modules/
contracts/dist/
contracts/.env
contracts/.env.*
contracts/bundle/
contracts/artifacts/
contracts/cache/
contracts/types/
contracts/coverage/
contracts/ignition/deployments